#cv-cont{
    padding-left: 10vw;
}

.cv-ul{
    padding-left: 2vw;
    padding-bottom: 30px;
    margin-bottom: 0;
    font-size: x-large
}

.cv-ul li > ul{
    font-size: large;
    padding-left: 2vw;
}

.cv-ul li > ul > li{
    padding: 10px 0 10px;
}